body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #252525;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: 150px;
}

.logo-title a {
    text-decoration: none;
    color: #3e2723;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}


.cart-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-container h2 {
    font-size: 2rem;
    color: #3e2723;
    margin-bottom: 1.5rem;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    color: #3e2723;
}

#cart-items li:last-child {
    border-bottom: none;
}

#total-price {
    font-size: 1.5rem;
    color: #2e7d32;
    margin-top: 1rem;
}

#checkout {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #2e7d32;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#checkout:hover {
    background-color: #1b5e20;
}